@import '~normalize.css/normalize.css';
@import 'variables';

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: $black;
}

header {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}
